body {
  background-color: #ffe6d1;
}

nav {
  display: flex;
  align-items: center;
  background-color: #988282;
  padding: 20px;
}

nav a {
  text-decoration: none;
  background-color: #d9d9d9;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  color: black;
}

img {
  width: 100%;
  margin: 0 auto;
  max-width: 50vw;
  display: block;
}

h1 {
  font-size: 6em;
}
.footer {
  background-color: #988282;
  color: white;
  text-align: center;
  padding: 15px;
}
