h1 {
    text-align: center;
    color: black;
    background-color: #74C365;
    padding: 50px;
    border-radius: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #333;
    padding: 10px;
}

p {
    font-family: 'Arial', sans-serif;
}

section {
    background-color: #EBE8E2;
    padding: 12px;
    border-radius: 20px;
    margin: 16px;
}